#container
  #updateform
    #main
    <label for="lastname">Last Name:</label><input id="lastname" type="text" />
    <label for="firstname">First Name:</label><input id="firstname" type="text" />
    <label for="seats">Seats:</label><input id="seats" type="text" />
    <label for="when">When:</label><input id="when" type="text" />
    <input type="button" name="addReservation" id="addReservation" value="add" />
    #timeslots

